.draggable-container input {
  color: white;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 180px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

/* Style for the text when not in edit mode */
.draggable-container h4 {
  cursor: pointer;
  color: #be1d1d;
  margin: 0;
  font-size: 18px;
  transition: color 0.3s ease;
  font-weight: 700;
}

/* Add hover effect for the text */
.draggable-container h5:hover {
  color: #007bff;
}
.draggable-container {
  width: 180px;
  position: relative; /* Ensure correct positioning for the resize handle */
}

.resize-handle {
  display: block; /* Make sure the handle is visible */
  width: 15px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
